@media only screen and (min-width:768px){
    body.home{background-image: url('img/fundo.png');}
    body{background-image: url('img/fundo2.png');}
}
@media only screen and (max-width:768px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        width: 100%;
    }
    body{background-color: violet;}
    td.capa{height: 400px;}
    td.content{height: 200px;}
    td.content h2{padding-bottom: 20px;}
}

ul{
    list-style: none;
    display: flex;
    justify-content: right;
}
li{
    padding-right: 15px;
}

a{
    text-decoration: none;
}