@media only screen and (min-width:768px){
    body.home{background-image: url('img/fundo.png');}
    body{background-image: url('img/fundo2.png');}
    .dropDown span{display: none;}
    ul{list-style: none; display: flex; justify-content: right;}
    li{padding-right: 15px;}
}
@media only screen and (max-width:768px){
    *{
        margin: 0; padding: 0; box-sizing: border-box; width: 100%;}
    body{background-color: #F0F8FF;}
    td.logo img{width: 200px;}
    td.capa{height: 400px;}
    td.content{height: 200px;}
    td.content h2{padding-bottom: 20px;}
    .dropDown{display: inline-block; position: relative; min-width: 150px; text-align: center;}
    .dropDown span{margin: 5px; padding: 5px; background-color: #E6E6FA;}
    .dropDownContent{position: absolute; z-index: 1; display: none; text-align: center;}
    .dropDownContent li{display: inline-block; text-align: center; padding: 5px;}
    .dropDownContent li:hover{background-color: #E6E6FA;}
    .dropDown:hover .dropDownContent{display: flex; flex-direction: column;}
}
a{text-decoration: none;}